.header {
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 47px;
    background-color: #3e3e3e;
    color: white;

    .rightWrapper {
        display: flex;
        padding-right: 50px;

        .ant-menu-horizontal {
            font-weight: bold;
            z-index: 999;
            color: white;
            background: #3e3e3e;
            border-bottom-color: #3e3e3e;
        }
    }

    .button {
        width: 47px;
        height: 47px;
        line-height: 47px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            color: #494949;
            background-color: fade(#494949, 15%);
        }
    }
}
